<nav class="component-navigation">
    <div class="component-navigation__toggle-container">
        <button class="navigation-toggle navigation-toggle--lined">
            <div class="button-line button-line--top"></div>
            <div class="button-line button-line--middle"></div>
            <div class="button-line button-line--bottom"></div>
        </button>
    </div>
    <ul class="component-navigation__items">
        <li class="navigation-item">
            <a class="navigation-item__link" herf="#">Label</a>
        </li>
    </ul>
</nav>

<!-- <nav>
    <div class="navigation__toggle-container">
        <button class="navigation__toggle navigation__toggle--lined">
            <div class="button-line button-line--top"></div>
            <div class="button-line button-line--middle"></div>
            <div class="button-line button-line--bottom"></div>
        </button>
    </div>
    <ul class="navigation__items">
        <li class="navigation__item navigation__item--active"><a href="./index.html">Home</a></li>
        <li class="navigation__item"><a href="#services">About</a></li>
        <li class="navigation__item"><a href="./contact.html">Contact</a></li>
        <li class="navigation__item"><a href="./cards.html">CSS only</a></li>
    </ul>
</nav> -->