<section class="slider">

    <div class="slides">
        <div class="slides__slide" style="background-image: url();">
            <h2 class="slide-title">Title text</h2>
        </div>
    </div>

    <div class="slide-controlls">
        <button class="slide-controlls__button slide-controlls__button--left">-</button>
        <button class="slide-controlls__button slide-controlls__button--right">+</button>
    </div>

    <div class="slide-pagination">
        <button class="slide-pagination__button" value="0">0</button>
    </div>

</section>