<section class="component-gallery">
    <div class="column">
        <div class="image-wrapper image-wrapper--left">
            <img class="column__image" src="" onclick="() => {}">
        </div>
    </div>

    <div class="column">
        <div class="image-wrapper image-wrapper--middle">
            <img class="column__image" src="" onclick="() => {}">
        </div>
    </div>

    <div class="column">
        <div class="image-wrapper image-wrapper--right">
            <img class="column__image" src="" onclick="() => {}">
        </div>
    </div>
    
    <div class="inspector">
        <img class="inspector__image">
    </div>
    
</section>