<section class="component-gallery">
    <div class="column column--left">
        <div class="image-wrapper">
            <img class="column__image" src="" onclick="() => {}">
        </div>
    </div>

    <div class="column column--middle">
        <div class="image-wrapper">
            <img class="column__image" src="" onclick="() => {}">
        </div>
    </div>

    <div class="column column--right">
        <div class="image-wrapper">
            <img class="column__image" src="" onclick="() => {}">
        </div>
    </div>
    
    <div class="inspector">
        <img class="inspector__image">
    </div>
    
</section>